.home-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 191, 180);
    height: 90%;
    width: 90%;
}

.home-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  